.login-bg {
  display: inline-block;
  width: 100vh;
  height: 100vh;
  background-image: url("./login-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
